*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
.logo{
    padding-left: 50px;
    cursor: pointer;
    padding-top: 8px;
}

.tech{
    color: #fff;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    
}
span{
    background-color: red;
    color: #1E1F29;
    border-radius: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    


}

.top{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    background-color: black;
    height: 65px;
    border-bottom: 3px red solid;
    
    
    
}


.signe{
    display: flex;
    align-items: center;

}
.signe a{
    text-decoration: none;
}
.etoil i{
    display: flex;
    display: inline-block;
    justify-content: center;
    align-items: center;
    color: #FFD700;
}

.etoil i:nth-child(5){
    color: gray;
}
button{
    height: 1cm;
    width: 4cm;
    border-radius: 5px;
    background-color: transparent;
    font-size: 17px;
    margin-right: 20px;
    color: red;
    border-color: white;
    cursor: pointer;
    font-weight: 30px;
}
button:hover{
    transform: scale(1.1);
}
button a{
    color: red;
}

i{
    padding: 5px;
    color: red;

}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 120px;


}
section img{
    height: 260px;
    width: 260px;
    cursor: pointer;
    padding-right: 20px;
    
}
.produi-1 ,.produi-2 ,.produi-3{
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    padding: 20px 25px 40px 25px ;
    margin: 13px;
    transition: 00.7s ease;
    border-radius: 10px;
}
    
.produi-3:hover{
        transform: scale(1.1);
}
.produi-2:hover{
    transform: scale(1.1);
}
.produi-1:hover{
    transform: scale(1.1);
}
.genre{
    color: gray;
    padding-bottom: 8px;
}
h3{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
p{
    color: red;
    padding: 8px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;

}
del{
    color: black;
    font-weight: bold;
    font-size: 16px;


}
.etoile{
    text-align: center;

}
footer{
    background-color: #1E1F29;
    background-size: cover;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;


}
.adress{
    color: gray;
    padding: 50px 50px;
    list-style-type: none;
}
.contact{
    font-size: 25px;
    margin-bottom: 10px;
    color: #fff;
}
.adress a{
    text-decoration: none;
    color: gray;
}
.fa-book-open ,.fa-phone{
    color: #fff;
}

